@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    height: 100%;
  }
  body {
    height: 100%;
  }

  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  main {
    flex-grow: 1;
  }
}

@layer components {
  .container {
    width: 100%;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    margin-inline: auto;
  }
}
